.title
  = link_to root_path, class:"title__message" do
    %h1 デザインで彩る島暮らし
  .title__header
    %ul
      - if user_signed_in?
        %li.title__header__log
          = link_to new_post_path, class: "title__header__log__link" do
            新規投稿
          = link_to destroy_user_session_path, method: :delete, class: "title__header__log__link" do
            ログアウト
      - else
        %li.title__header__log
          = link_to new_user_session_path, class: "title__header__log__link" do
            ログイン
          = link_to new_user_registration_path, class: "title__header__log__link" do
            新規会員登録