= render "header"
.contents
  .contents__postArea
    %h1 投稿を編集する
    = form_for @post do |f|
      .contents__postArea__submit
        = f.label :title, "タイトル"
        %span
          必須
        %br
        = f.text_field :title,class: "text_field"
        %br
        = f.label :designid, "デザインID"
        %span
          必須
        %br
        = f.text_field :designid
        %br
        = f.label :image, "デザイン画像"
        %span
          必須
        %br
        = f.file_field :image
        %br
        = f.label :text, "本文"
        %span
          必須
        %br
        = f.text_area :text
        %br
        = f.submit "投稿"
= render "footer"