= render "header"
      
.contents
  .contents__postArea
    %h2
      投稿一覧
    - @posts.each do |post|
      .contents__postArea__post
        =link_to post_path(post.id),class:"contents__postArea__post__item" do
          = image_tag post.image, size: "200x200",class:"contents__postArea__post__item__left"
          .contents__postArea__post__item__right
            = post.title
            %br
            = "デザインID:    " + "#{post.designid}"
            %br
            = post.text.truncate(60)
  .contents__paginate
    = paginate(@posts)
= render "footer"