= render "header"
.contents
  .contents__postArea
    %h1 新規投稿
    = form_for @post do |f|
      .contents__postArea__submit
        = f.label :title, "タイトル"
        %br
        = f.text_field :title
        %br
        = f.label :designid, "デザインID"
        %br
        = f.text_field :designid
        %br
        = f.file_field :image
        %br
        = f.label :text, "本文"
        %br
        = f.text_area :text
        %br
        = f.submit "投稿"
= render "footer"